= semantic_form_for [@position, @question], html: {class: "form-horizontal"} do |f|
  .error-messages
    = f.semantic_errors :position
  = f.input :title, required: false, input_html: { class: "form-control" }
  %br
  = f.action :submit, button_html: { class: 'form-control btn btn-primary' }


  