.container
  %h3 Available Candidates
  .row
    .col-sm-6
      = semantic_form_for @position do |f|
        = f.input :candidates, :as => :check_boxes, class: "form-control"
        = f.action :submit, :as => :button, class: "btn btn-default"
