.spacer50
  .container
    .row
      .col-sm-4
        .center
          %img.image-wrapper{src: "/assets/ComputerGuy.jpg"}
        .clearfix
        .spacer25
          .center
            %a.btn-clear.btn-lg.col-xs-8.col-xs-offset-2
              Web Designer
        .spacer25
      .col-sm-4
        .center
          %img.image-wrapper{src: "/assets/dogwalker.jpg"}
        .clearfix
        .spacer25
          .center
            %a.btn-clear.btn-lg.col-xs-8.col-xs-offset-2
              Dog Walker
        .spacer25
      .col-sm-4
        .center
          %img.image-wrapper{src: "/assets/waitress.jpg"}
        .clearfix
        .spacer25
          .center     
            %a.btn-clear.btn-lg.col-xs-8.col-xs-offset-2
              Waitress
        .spacer25