.container
  %h3 Create a new Interview
  .row
    - @positions.each do |position|
      .col-xs-12.col-sm-6.form-group
        = semantic_form_for [position] do |f|
          = f.input :candidates, as: :radio, label: false, required: false, member_label: Proc.new { |t| h(t.first_name + " " + t.last_name) }
          %br
          = f.action :submit, :as => :button, button_html: { class: "btn btn-primary" }
