@import url(http://fonts.googleapis.com/css?family=Prociono);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,200);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

$brand-primary: #ff8b43; //orange
$secondary-color: #E84347; //red
$third-color: #55A572; //green
$blue-color: #354f70; //blue
$brand-success: #55a572;


$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
$headings-font-weight: 100;
$font-family-serif: 'Prociono', "Times New Roman", Times, serif;
$font-size-base: 16px;
$font-size-h1: floor($font-size-base * 4);
$well-bg: #fff;

$input-border-radius: 1px;

$navbar-default-bg: #354f70; //blue
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: $brand-primary;

$primaryButtonBackground: $brand-primary;  //orange
$navbar-inverse-link-color: black;
$section-one-bg: #354f70; //blue

$border-radius-base: 1px;
$border-radius-large: 1px;



@import 'bootstrap';
// collapsible candidates index panels
.panel-group {
  margin-bottom: 5px;
  h4 {
    margin-left: 15px;
  }
  .panel-heading {
    // @include box-shadow;
    border-bottom: 1px solid;
  }
}

.btn-group a:hover {
  text-decoration: none;
}
.progress {
  margin-top: 15px;
}

.panel-body {
}
.list-group {
  margin-left: 10px;
  font-size: 1.1em;
  a:hover {
    text-decoration: none;
  }
  .panel-title {
    text-transform: uppercase;
  }
  .edit-icon {
    font-size: 1.2em;
    padding-right: 25px;
  }
}
.panel-header {

}

.modal {
  margin-top: 50px;
}

.panel {
  border: 1px solid;
}

.question-list {
  padding-left: 0px;
  li {
    padding: 10px;
    list-style: none;
  }
  hr {
    background-color: $secondary-color;
    height: 1px; 
    margin: 0px;
  }
  .btn-group {
    margin-left: 10px;
    margin-top: 15px;
  }
  .well {
    border: 1px solid;
  }
}

.info-panel {
  // border-bottom:1px solid black; border-bottom:1px solid black;
}

.position-details {
  .well {
    color: $third-color;
    // background-color: $third-color;
  }
  h3 {
    text-transform: uppercase;
    // border-bottom: 1px solid #354f70
  }
  p {

  }
}

.form-group {
  // input { padding: 20px; }
  .well {
    background-color: $third-color
    // background-image:image-url("whitey.png");
    // background-repeat:repeat;
  }
  .control-label {
    text-transform: capitalize;
    padding-top: 10px;
    text-align: center;
  }
}

.navbar {
  font-size: 20px;
  text-transform: lowercase;
  font-weight: 100;
}

.navbar-right {
  font-size: 14px;
  li {
    .sign-out {
      padding-right: 15px;
      font-weight: bold;
      // color: $brand-primary !important;
    }
    a {
      text-transform: uppercase;
      padding-left: 10px;
      padding-left: 0px;
      padding-right: 15px;
      .sign-out {
      margin-right: 15px;
      }
    }
  }
  .sign-out a {
    margin-right: 15px;
  }

}

.btn-clear {
  @extend .btn;
  @include button-variant(#fff, #55A572, #fff);
  border: 1px solid white;
  text-transform: lowercase;
}
.gradient-bg {
  @include gradient-horizontal($start-color: #cb0d0f, $end-color: lighten(yellow, 30%), $start-percent: 0%, $end-percent: 100%);
}

body, html {
  height : 100%;
}

section#section-one {
  background: rgba(53, 79, 112, 1) 50% 0 repeat fixed; min-height: 800px;
  color: #fff;
  border-bottom: 5px solid #fff;
  p {
    @media(max-width: 767px) {
    padding-bottom: 5px;
    }
  }
  hr {
    width: 75%;
  }
  
  h2 {
    text-align: center;
  }
  h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: floor($font-size-base * 6);
    
    @media(max-width:767px) {
      padding-top: 0px;
    }
  }
  #nav-welcome {
    background: transparent;
    border: none;
    // height: 50px;

    .btn-clear {
      margin-top: 10px;
      margin-right: 10px;
      @include button-variant(#fff, $section-one-bg, #fff);
      border: none;
    }
  }
}
section#section-two {
  background: #55A572 50% 0 no-repeat; min-height: 800px;
  color: #fff;
  text-align: center;
  h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: floor($font-size-base * 3);
    }
  .well {
    border-radius: 3px;
    background-color: $secondary-color;
    border: none;
  }
  .form-group {
    margin-bottom: 10px;
    margin-top: 10px;
  }  
}

.spacer50 {
  padding-top: 50px;
}
.spacer25 { 
  padding-top: 25px;
}
.image-wrapper {
  @extend .img-responsive;
  @extend .img-thumbnail;
}
.center {
  text-align: center;
}

.help-inline {
  color: red;
  font-style: bold;
}

